<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.scoresMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.scores" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="exam_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="right_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="error_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="answer_records" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="delete_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, exam_id, total_num, right_num, error_num, answer_records, score, delete_time, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from scores
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from scores
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.scores" >
    insert into scores (id, user_id, exam_id, 
      total_num, right_num, error_num, 
      answer_records, score, delete_time, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{examId,jdbcType=INTEGER}, 
      #{totalNum,jdbcType=INTEGER}, #{rightNum,jdbcType=INTEGER}, #{errorNum,jdbcType=INTEGER}, 
      #{answerRecords,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.scores" >
    insert into scores
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="examId != null" >
        exam_id,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="rightNum != null" >
        right_num,
      </if>
      <if test="errorNum != null" >
        error_num,
      </if>
      <if test="answerRecords != null" >
        answer_records,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="examId != null" >
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="rightNum != null" >
        #{rightNum,jdbcType=INTEGER},
      </if>
      <if test="errorNum != null" >
        #{errorNum,jdbcType=INTEGER},
      </if>
      <if test="answerRecords != null" >
        #{answerRecords,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.scores" >
    update scores
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="examId != null" >
        exam_id = #{examId,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="rightNum != null" >
        right_num = #{rightNum,jdbcType=INTEGER},
      </if>
      <if test="errorNum != null" >
        error_num = #{errorNum,jdbcType=INTEGER},
      </if>
      <if test="answerRecords != null" >
        answer_records = #{answerRecords,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.scores" >
    update scores
    set user_id = #{userId,jdbcType=INTEGER},
      exam_id = #{examId,jdbcType=INTEGER},
      total_num = #{totalNum,jdbcType=INTEGER},
      right_num = #{rightNum,jdbcType=INTEGER},
      error_num = #{errorNum,jdbcType=INTEGER},
      answer_records = #{answerRecords,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>